.venv/
.__pycache__
.RFM_based_customer_segmentation.ipynb
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.csv
*.json
*.log
.venv
.asset
.data
.main.py
.utils.py
.rfm_segmented.csv
src/utils.py
src/RFM_engineering.py
src/.DS_Store
output/.DS_Store
asset/.DS_Store
notebooks/.DS_Store
asset/rfm.key
